<section>
    <div class="m-w-[85rem] w-full mx-auto px-3">
        <div class="flex justify-between items-center mb-2">
            <p>Notable Transaction</p>
            <button (click)="add()" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary-color rounded-lg"><i class="fa-solid fa-circle-plus"></i></button>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3">
            @for (item of NTData['datas']; track item.id;let ind = $index) {
                <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a role="button">
                        <img class="rounded-t-lg h-56 object-cover w-full" [src]="API_URL+'/'+item.images.split(',')[0]" alt="" />
                    </a>
                    <div class="p-5">
                        <a role="button">
                            <h5 class="mb-2 text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">{{item.title}}</h5>
                        </a>
                        <p class="mb-2 font-    bold text-justify text-gray-700 dark:text-gray-400 overflow-y-auto">${{item.price}}</p>
                        <p class="mb-2 text-xl text-start text-gray-700 dark:text-gray-400">{{item.address}}</p>
                        <p class="mb-2 text-start text-gray-700 dark:text-gray-400">{{item.noofbeds}} Beds | {{item.baths}} Baths | {{item.squarefite}} Sq.Ft.</p>
                        <div class="flex justify-center">
                            <button type="button" class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"><i class="fa-regular fa-pen-to-square"></i></button>
                            <button type="button" class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"><i class="fa-regular fa-trash-can"></i></button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<p-dialog [header]="form['Header']" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [draggable]="false" [resizable]="false">
    <form #formDatas="ngForm" (ngSubmit)="saveData(formDatas)" ngNativeValidate>
        <!-- Modal body -->
        <div class="p-4 md:p-5 space-y-4">
            
            <div class="flex items-center justify-center w-full">
                <label for="images" class="flex flex-col items-center justify-center w-full h-34 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                        </svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                        <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                    </div>
                    @if(form['button'] == 'Add'){
                        <input id="images" type="file" class="hidden" name="images" accept="image/*" multiple #myInput [(ngModel)]="formData['images']" (change)="onFileSelected($event)" />
                    }
                    @else{
                        <input id="images" type="file" class="hidden" name="images" accept="image/*" multiple #myInput [(ngModel)]="formData['images']" (change)="onFileSelected($event)" />
                    }

                </label>
            
            </div> 
            <!--image panel-->
            <div class="flex flex-wrap">
                @for(item of imageurl; track item.id; let i = $index){
                    <div class="relative">
                        <button type="button" (click)="remove_image(item,i)" class="text-red-600 font-bold rounded-full text-center inline-flex items-center absolute top-2 right-2"><i class="fa-regular fa-circle-xmark"></i></button>
                        <img [src]="item" class="object-cover h-20 w-50" />
                    </div>
                }
            </div>

            <div class="mb-5">
                <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
                <input type="text" id="title" name="title" [(ngModel)]="formData['title']" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>

            <div class="mb-5">
                <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
                <select id="category" name="category" [(ngModel)]="formData['category']" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                  <option selected disabled>Select</option>
                  <option value="Private">Private</option>
                  <option value="Commercial">Commercial</option>
                </select>
            </div>

            <div class="mb-5">
                <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                <input type="text" id="price" name="price" [(ngModel)]="formData['price']" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>

            <div class="mb-5">
                <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Address</label>
                <input type="text" id="address" name="address" [(ngModel)]="formData['address']" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>

            <div class="mb-5">
                <label for="noofbeds" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">No of Beds</label>
                <input type="text" id="noofbeds" name="noofbeds" [(ngModel)]="formData['noofbeds']" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>

            <div class="mb-5">
                <label for="baths" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Baths</label>
                <input type="text" id="baths" name="baths" [(ngModel)]="formData['baths']" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>

            <div class="mb-5">
                <label for="squarefite" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Squarefite</label>
                <input type="text" id="squarefite" name="squarefite" [(ngModel)]="formData['squarefite']" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>

            <div class="mb-5">
                <label for="sale_status" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sale Status</label>
                <select id="sale_status" name="sale_status" [(ngModel)]="formData['sale_status']" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
                  <option selected disabled>Select</option>
                  <option value="For Sale">For Sale</option>
                  <option value="Pending">Pending</option>
                  <option value="Sold">Sold</option>
                </select>
            </div>

            <div class="mb-5">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                <textarea id="description" name="description" [(ngModel)]="formData['description']" rows="5" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write your thoughts here..." required></textarea>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
            <button type="button" class="me-3 text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Cancel</button>
            <button type="submit" class="text-gray-900 bg-gradient-to-r from-lime-200 via-lime-400 to-lime-500 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">{{form['button']}}</button>
        </div>
    </form>
</p-dialog>

<p-confirmDialog></p-confirmDialog>