<section class="bg-[url('./assets/img/wallpaper/Wall_1.jpg')] bg-cover bg-no-repeat">
    <div class="max-w-[30rem] mx-auto w-full px-4">
        <div class="grid grid-cols-1 justify-center content-center items-center h-dvh">
            <div class="shadow  bg-[rgba(255,255,255,0.61)] rounded-lg">
                <div class="p-5">
                    <p class="text-center text-5xl font-bonl mb-4">Login</p>
                    <form #loginform="ngForm" (ngSubmit)="login(loginform)" ngNativeValidate>
                        <div class="mb-6">
                            <label for="email" class="block mb-2 text-base font-medium  dark:text-white">Username</label>
                            <input type="text" id="Username" name="Username" ngModel class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                        </div> 
                        <div class="mb-6">
                            <label for="password" class="block mb-2 text-base font-medium  dark:text-white">Password</label>
                            <input type="password" id="password" name="Password" ngModel class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
                        </div> 
    
                        <div class="flex justify-center mb-6">
                            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>
                        </div>
                    </form>    
                </div>

            </div>
        </div>
    </div>
</section>


